* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(83, 83, 83);
}

.img500x500 {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
}

.container {
    padding: 10px;
    width: 660px;
    height: 220px;
    background: cornflowerblue;
    overflow: hidden;
    position: relative;
}

.img-carousel {
    width: 100%;
    display: flex;
    gap: 20px;
    transition: 0.3s ease-in-out;
}

.arrowLeft {
    position: absolute;
    left: 10px;
    background: white;
    padding: 5px;
    border-radius: 10px;
    top: 50%;
    cursor: pointer;
    user-select: none;
}

.arrowLeft:hover {
    opacity: 70%;
}

.arrowLeft:active {
    opacity: 40%;
}

.arrowRight {
    position: absolute;
    right: 10px;
    background: white;
    padding: 5px;
    border-radius: 10px;
    top: 50%;
    cursor: pointer;
    user-select: none;
}

.arrowRight:hover {
    opacity: 70%;
}

.arrowRight:active {
    opacity: 40%;
}
