* {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 1.1rem;
}

h1 {
    font-size: 2em;
}

.done {
    background: lightgreen;
}

.delete-btn {
    cursor: pointer;
    background: #eb4d4b;
    border-radius: 3px;
    color: white;
    padding: 2px;
}